body {
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 40px;
  max-width: 500px;
}
.container {
  width: 500px;
  padding: 30px 20px;
  border: 2px solid green;
  border-width: 400;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: #ffbd69;
}
button {
  font-size: 18px;
  border-radius: 10px;
  color: #127681;
  padding: 5px 5px;
}

input[type="text"] {
  position: relative;
  top: 25px;
  left: 200;
  margin-left: 50px;
  background-color: blanchedalmond;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 15px 15px;
  width: 250px;
  border-radius: 5px;
  font-size: 20px;
}
#search-button {
  position: relative;
  padding: 7px 7px;
  right: 20px;
  border-radius: 5px;
  border-color: #ffbd69;
}

#celsius-link,
#fahrenheit-link {
  font-size: 30px;
  color: blanchedalmond;
}
#unit-divider {
  font-size: 30px;
}
#city {
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
hr {
  border: 30px solid #127681;
  background-color: #127681;
  color: #127681;
  border-width: 1px;
}
h1 {
  font-size: 40em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-family: "Merienda One";
  color: #f4f6ff;
}
h2 {
  color: #f4f6ff;
  text-align: center;
  font-family: "Merienda One";
  font-size: 25px;
}

#temperature {
  text-align: center;
  font-size: 70px;
  font-family: "Merienda One";
}
#temp-description {
  text-align: center;
  font-family: "Merienda One";
  color: #f4f6ff;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 20px;
}

img {
  margin: 0 auto;
  display: block;
  font-size: 2em;
  text-align: center;
}

#forecast-icon {
  font-size: x-small;
}
#humidity,
#windspeed,
#pressure {
  color: #f4f6ff;
}
.fas {
  size: 40px;
  color: #dfbf31;
}
.row {
  text-align: center;
  font-style: bolder;
  font-size: 15px;
}
